<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infomedia.mytami">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".flight_reservation.FlightConfirmationActivity"
            android:label="Confirmation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".flight_reservation.FlightReservationActivity"
            android:label="Flight Reservation" />
        <activity
            android:name=".travel_request.TravelBookingActivity"
            android:label="Meeting Client Telkomsel" />
        <activity
            android:name=".reimbursement.ReimbursementTravelDescriptionActivity"
            android:label="Reimbursement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reimbursement.ReimbursementTravelItineraryActivity"
            android:label="Reimbursement"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reimbursement.ReimbursementTravelTypeActivity"
            android:label="Reimbursement"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReimbursementApprovalActivity"
            android:label="Reimbursement Approval" />
        <activity
            android:name=".TravelCancelApprovalActivity"
            android:label="Travel Cancel Approval" />
        <activity
            android:name=".TravelRequestApprovalDetail"
            android:label="Meeting Client MCD" />
        <activity
            android:name=".travel_request.TravelRequestTravelDescriptionActivity"
            android:label="Travel Request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".travel_request.TravelRequestTravelItineraryActivity"
            android:label="Travel Request"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".travel_request.TravelRequestTravelTypeActivity"
            android:label="Travel Request"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TravelRequestApprovalActivity"
            android:label="Travel Request Approval" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>